<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DefectRecord</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DefectRecord.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="container-fluid row d-flex justify-content-between align-items-center">
            <img src="~/images/DefectRecLogo.png" alt="DefectRecordLogo" />
        </div>
    </header>
    <button class="toggle-btn d-md-none"><i class="fas fa-bars"></i></button>
    <div class="sidebar_menu">
        <button class="btn-input" onclick="location.href='@Url.Action("Input", "Defect")'">Input Defect</button>
        <ul>
            <li class="nav-btn">
                <a class="nav-link active" asp-controller="Defect" asp-action="Index">
                        <i class="fas fa-gauge"></i>
                    <span class="d-md-none d-sm-inline d-block">Dashboard</span>
                    
                </a>
            </li>
            <li class="nav-btn">
                <a class="nav-link active" asp-controller="Defect" asp-action="Record">
                        <i class="fas fa-table-list"></i>
                    <span class="d-md-none d-sm-inline d-block">Record</span>
                </a>
            </li>
                       
        </ul>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="container">
    <footer class="footer text-muted">
            &copy; 2025 - DefectRecord
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
