html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus, .ts-control:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: #D9D9D9;
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.container{
  float: right;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-left: 60px;
  /* background-color: yellow;  */
}

.text-header h2{ 
  color: #0F58A8;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h2{
  color: #0F58A8;
  text-align: center;
}

.form-control {
  border: none;
  background-color: #D9D9D9;
}

.alert {
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
}

.alert-info {
  background-color: #d9edf7;
  color: #31708f;
  border: 1px solid #bce8f1;
}

.alert-warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
  border: 1px solid #faebcc;
}

.alert-error {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}

.alert-success {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
}

.alert .close {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
  color: inherit;
}




@media screen and (max-width: 768px) {
  .main-content {
    width: 100%;
  }
  .container{
    padding-left: 0px;
  }
}

@media screen and (max-width: 480px) {
  .main-content {
    width: 100%;
  }
  .container{
    padding-left: 0px;
  }
}
